.case-study img {
    max-width: 100% !important;
}

.masthead  {
    background-color: black !important;
    padding-bottom: 0;
}

.masthead h1 {
    color: white !important;
}

.white-font {
    color: white;
}

.ev-case-study img {
   max-width: 100%;
}

div.prototypes ul li {
    list-style-type: none;
}

.cotecna-eye a img {
    width: 600px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-20 {
    margin-top: 20px;
}

.blogs ul li {
    list-style-type: none;
    
}

.masthead-subheading {
    font-size: 1.2rem !important;
}


/*LOGOS SECTION*/
div.logos-section ul {
    display: flex;
    list-style-type: none;
    margin: auto;
}
div.logos-section ul img {
    width: 100px;
}
.logos-section ul.tool-logos li {
    list-style-type: none;
    width: auto;
}
@media only screen and (max-width: 768px)  {
        div.logos-section ul {
            display: none;
    }
}
/*--*/

.bg-primary {
    background-color: #F4B400 !important;
}

.btn-primary {
    background-color: #F4B400 !important;
    border-color: #F4B400 !important;
        outline: 0 !important;

}

.btn-primary:focus {
    background-color: #F4B400 !important;
    border-color: #F4B400 !important;
    outline: 0 !important;
}

.portfolio .portfolio-item .portfolio-item-caption {
    background-color: #F4B400 !important;
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 0.9;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #F4B400 !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #F4B400 !important;
}

.push-nots img {
    max-width: 340px;
}

.description {
    font-size: 16px;
    margin-top: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.services {
    display: inline-block;
    text-align: center;
    color: #999;
}

.copyright {
    background-color: #000;
}

i {
    font-size: 14px;
    color:#999;
}
h1.slogan-1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    line-height: 46px;
}
.light-text {
    color: white;
}
